.heading-title {
    color: rgba(182, 182, 0182, 0.4);
    background: linear-gradient(to right, #ffffff, #ffffff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;
    position: relative;
  }

  
