@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: local('Sora'), url(../src/assets/fonts/Sora-Regular.woff2) format('woff2');
    unicode-range: U+000-5FF;
  }
  @font-face {
    font-family: 'Nudista';
    font-style: bold;
    font-weight: 700;
    src: local('Nudista'), url(../src/assets/fonts/Nudista-Bold.woff2) format('woff2');
    unicode-range: U+000-5FF;
  }
  @font-face {
    font-family: 'NudistaLight';
    font-style: light;
    font-weight: 300;
    src:local('NudistaLight'), url(../src/assets/fonts/Nudista-Light.woff2)format('woff2');
    unicode-range: U+000-5FF;
  }
      
  
}